@model DiplomMag.models.Player



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewPlayer</title>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-auto">
                <img src="https://reg.infobasket.su/Widget/GetPersonPhoto/53749?d=1&compId=74918" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Model.Surname
            </div>
            <div class="col">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col">AveragePoints</div>
            <div class="col">Average +/-</div>
            <div class="col">Average KPI</div>
            <div class="col">Average eFG%</div>
        </div>
        <div class="row">
            <div class="col">@Model.Statistic.Points</div>
            <div class="col">@Model.Statistic.PlusMinus</div>
            <div class="col">@Model.Statistic.KPI</div>
            <div class="col">@Model.Statistic.CalcEFGProcent</div>
        </div>
        <div class="row">
            <div class="col">Average TS%</div>
            <div class="col">Average Pace</div>
            <div class="col">Average OffRating</div>
            <div class="col">Average DefRating</div>
        </div>
        <div class="row">
            <div class="col">@Model.Statistic.CalcTSProcent</div>
            <div class="col">@Model.Statistic.CalcPace</div>
            <div class="col">@Model.Statistic.CalcOffRating</div>
            <div class="col">@Model.Statistic.CalcDefRating</div>
        </div>
        <div class="row">
            <div class="col">Average TPA</div>
            <div class="col">Rating Hollinger</div>
        </div>
        <div class="row">
            <div class="col">@Model.Statistic.CalcTPA</div>
            <div class="col">@Model.Statistic.CalcHollinger</div>
        </div>

    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
